@import '../../assets/styles/variables.scss';

.sdk-alert {
    position     : relative;
    padding      : .75rem 1.25rem;
    margin-bottom: 1rem;
    border       : 1px solid transparent;
    border-radius: .25rem;

    &.danger {
        color           : $danger-color;
        background-color: $danger-bg-color;
        border-color    : $danger-border-color;
    }

    &.success {
        color           : $success-color;
        background-color: $success-bg-color;
        border-color    : $success-border-color;
    }
}