.sdk-order-container {
    --input-border : #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;

    text-align: center;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    iframe {
        max-width    : 550px;
        border       : none;
        background   : transparent;
        border-radius: 8px;
    }

    .error {
        color: #d9534f;
    }

    .caption {
        font-size: 12px;
    }
}