@import 'Assets/styles/variables.scss';

.sdk-order-container {
    --input-border : #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .sdk-iframe-wrapper {
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }

    iframe {
        max-width    : 550px;
        border       : none;
        background   : transparent;
        border-radius: 8px;
    }

    .text-error {
        color: $error-color !important;
    }

    .text-success {
        color: $success-color !important
    }

    .text-center {
        text-align: center;
    }

    .caption {
        font-size: $xs-font-size;
    }

    .d-flex {
        display: flex;
    }

    .justify-center {
        justify-content: center;
    }

    .align-center {
        align-items: center;
    }

    .mt-2 {
        margin-top: 0.5rem;
    }

    .mb-2 {
        margin-bottom: 0.5rem;
    }
}