$white                         : #fff;
$black                         : #000;
$text-color                    : $black;
$primary-color                 : #337ab7;
$light-gray                    : #f3f3f3;
$dark-gray                     : #1a1a1a;
$input-border-color            : #8b8a8b;
$input-border-disabled-color   : #ccc;
$input-border-disabled-bg-color: #eee;
$disable-bg-color              : rgb(116 119 117);
$success-test-color            : #28a745;
$success-color                 : #155724;
$success-bg-color              : #d4edda;
$success-border-color          : #c3e6cb;
$error-color                   : #dc3545;
$danger-color                  : #721c24;
$danger-bg-color               : #f8d7da;
$danger-border-color           : #f5c6cb;
$input-focus-h                 : 245;
$input-focus-s                 : 100%;
$input-focus-l                 : 42%;
$font-size                     : 1rem;
$sm-font-size                  : 0.875rem;
$xs-font-size                  : 0.75rem;
$border-radius                 : 4px;
$size-bezel                    : 0.5rem;