$white                         : #fff;
$black                         : #000;
$blue                          : #007bff;
$green                         : #5fa757;
$red                           : #c9252d;
$grey                          : #6c757d;
$light-gray                    : #f8f9fa;
$dark-gray                     : #343a40;
$error-color                   : $red;
$success-test-color            : $green;
$text-color                    : $dark-gray;
$primary-color                 : $blue;
$input-border-color            : $grey;
$input-border-disabled-color   : #ccc;
$input-border-disabled-bg-color: #eee;
$success-color                 : #155724;
$success-bg-color              : #d4edda;
$success-border-color          : #c3e6cb;
$danger-color                  : #721c24;
$danger-bg-color               : #f8d7da;
$danger-border-color           : #f5c6cb;
$input-focus-h                 : 245;
$input-focus-s                 : 100%;
$input-focus-l                 : 42%;
$font-size                     : 1rem;
$sm-font-size                  : 0.875rem;
$xs-font-size                  : 0.75rem;
$border-radius                 : 4px;
$size-bezel                    : 0.5rem;