@import 'Assets/styles/variables.scss';

.sdkOrderForm {
    max-width     : 320px;
    margin        : auto;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    text-align    : left;

    .field-label {
        display      : block;
        margin-bottom: 0.375em;
        font-weight  : 500;
        text-align   : left;
    }

    .field-wrapper {
        margin-bottom: 20px;
        width        : 100%;

        label {
            display      : block;
            margin-bottom: 0.375em;
            font-weight  : 500;
            text-align   : left;
        }
    }

    .input-control {
        width           : 100%;
        padding         : 0.25em 0.5em;
        border          : 2px solid var(--input-border);
        border-radius   : 4px;
        font-size       : 16px;
        font-size       : max(16px, 1em);
        font-family     : inherit;
        background-color: #fff;

        &[disabled] {
            --input-border  : #ccc;
            background-color: #eee;
            cursor          : not-allowed;
        }

        &:focus {
            border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
        }
    }

    .radio-button-control {
        label {
            display      : flex;
            margin-bottom: 0.375em;
            font-weight  : 500;
            position     : relative;
            overflow     : hidden;
            cursor       : pointer;

            input {
                position: absolute;
                left    : -9999px;

                &:checked+span {
                    background-color: mix(#fff, $primary-color, 84%);

                    &:before {
                        box-shadow: inset 0 0 0 0.4375em $primary-color;
                    }
                }
            }

            span {
                display      : flex;
                align-items  : center;
                padding      : 0.375em 0.75em 0.375em 0.375em;
                border-radius: 20px;
                transition   : 0.25s ease;

                &:hover {
                    background-color: mix(#fff, $primary-color, 84%);
                }

                &:before {
                    content         : "";
                    display         : flex;
                    flex-shrink     : 0;
                    width           : 1.5em;
                    height          : 1.5em;
                    margin-right    : 0.375em;
                    border-radius   : 50%;
                    background-color: #fff;
                    box-shadow      : inset 0 0 0 0.125em $primary-color;
                    transition      : 0.25s ease;
                }
            }
        }
    }
}