@import '../../assets/styles/variables.scss';

.sdk-order-form {
    max-width     : 320px;
    margin        : auto;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    text-align    : left;
}